# See http://help.github.com/ignore-files/ for more about ignoring files.

# Compiled output
/dist
/tmp
/out-tsc
/bazel-out

# Node
/node_modules
npm-debug.log
yarn-error.log

# IDEs and editors
.idea/
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*

# Miscellaneous
/.angular/cache
.sass-cache/
/connect.lock
/coverage
/libpeerconnection.log
testem.log
/typings

# System files
.DS_Store
Thumbs.db
src/app/_services/ingridients.service.spec.ts
src/app/_services/recipes.service.spec.ts
src/app/about/about.component.spec.ts
src/app/home/home.component.spec.ts
src/app/models/ingridient.spec.ts
src/app/models/recipe.spec.ts
src/app/models/recipes-stages.spec.ts
src/app/nav-bar/nav-bar.component.spec.ts
src/app/profile/profile.component.spec.ts
src/app/recipes/add-recipe/add-recipe.component.spec.ts
src/app/recipes/edit-recipe/edit-recipe.component.spec.ts
src/app/recipes/show-recipe/show-recipe.component.spec.ts
src/app/shared/pipes/sort-by.pipe.spec.ts
