<p>Endpoints...</p>
<h6>** recipe **</h6>
<ul>
    <li>POST addCookingRecipe http://localhost:4200/api/recipes/</li>
    <li>GET getTutorialById http://localhost:4200/api/recipes/{{'{'}}id{{'}'}}</li>
    <li>GET getIngredientsForRecipe http://localhost:4200/api/recipes/{{'{'}}id{{'}'}}/ingredients</li>
    <li>POST addIngredientToRecipe http://localhost:4200/api/recipes/{{'{'}}id{{'}'}}/ingredients</li>
    <li>DELETE deleteRecipe http://localhost:4200/api/recipes/{{'{'}}id{{'}'}}</li>
    <li>PUT editRecipe http://localhost:4200/api/recipes/{{'{'}}id{{'}'}}</li>
    <li></li>
</ul>
<h6> ** ingredient **</h6>
<ul>
    
    <li>GET getAllIngredient http://localhost:4200/api/ingredients/</li>
    <li>POST addIngredient http://localhost:4200/api/ingredients/</li>
</ul>