<p>add-recipe works!</p>
<div class="container w-50" style="margin-top: 50px;">
  <form [formGroup]="recipeForm" (ngSubmit)="onSubmit()">
    <div class="form-group row">
      <label for="recipe-name" class="col-sm-2 col-form-label">Name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control w-100 " id="recipe-name" placeholder="recipe name" formControlName="name">
      </div>
    </div>

    <div class="form-group row">
      <label for="recipe-description" class="col-sm-2 col-form-label">Description: </label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control w-100 " id="recipe-description" placeholder="recipe description"
          formControlName="description"></textarea>
      </div>
    </div>

    <h6>Stages: </h6>
    <ul *ngFor="let recipeStage of recipeStages ">

      <li>
        <form [formGroup]="stageForm">
          <div class="form-group row">
            <label for="stages-order" class="col-sm-2 col-form-label">Order Nr. </label>
            <div class="col-sm-10">
              <input type="number" class="form-control w-100" id="stages-order" placeholder="{{recipeStage.instructionOrder}}"
                formControlName="{{recipeStage.instructionOrder}}">
            </div>

            <label for="stages-instruction" class="col-sm-2 col-form-label">Instruction</label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control w-100" id="stages-instruction"
                placeholder="{{recipeStage.instruction}}" formControlName="stageInstruction"></textarea>
              
            </div>
          </div>
        </form>
      </li>
    </ul>
    <div class="text-right">
    <!-- button to add new stage entry form -->
    <button (onclick)="addStage();" class="btn btn-primary ">Add new</button>
    </div>
    <div>

    </div>

      <h6>Ingredients: </h6>
      <ul *ngFor="let ingredient of ingredients">

        <li>
          <form [formGroup]="ingredientForm">
            <div class="form-group row">
            <label for="ingredient-name" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control w-100" id="recipe-ingredients" placeholder="{{ingredient.name}}"
                formControlName="name">
            </div>

            <label for="ingredient-amount" class="col-sm-2 col-form-label">Amount</label>
            <div class="col-sm-10">
              <input type="text" class="form-control w-100" id="recipe-ingredients" placeholder="{{ingredient.amount}}"
                formControlName="amount">
            </div>
            </div>
            <div class="form-group row">
            <label for="ingredient-description" class="col-sm-2 col-form-label">Description</label>
            
              <div class="col-sm-10">
              <textarea type="text" class="form-control w-100" id="recipe-ingredients"
                placeholder="{{ingredient.description}}" formControlName="description"></textarea>
            </div>
            </div>
          </form>
          <div class="text-right">
          <!-- button to add new ingredient entry form -->
          <button (onclick)="addIngredient();" class="btn btn-primary">Add new</button>
          </div>
        </li>
      </ul>

    
  </form>
  <!-- submit full recipe to DB -->
  <button type="submit" value="submit" class="btn btn-primary">Save</button>
</div>