<p>add-recipe works!</p>
<div class="container w-50" style="margin-top: 50px;">
  <div [formGroup]="recipeForm">


    <hr>
    <br>
    <div class="text-end">
      <button (click)="removeEmptyStage()" class="btn btn-dark">Remove Empty Stage</button>
      <button (click)="removeEmptyIngredient()" class="btn btn-dark">Remove Empty Ingredient</button>
    </div>
    <div class="form-group row">
      <label for="recipe-name" class="col-sm-2 col-form-label">Name: </label>
      <div class="col-sm-10">
        <input type="text" class="form-control w-25 " id="recipe-name" placeholder="recipe name" formControlName="name">
      </div>
    </div>

    <div class="form-group row">
      <label for="recipe-description" class="col-sm-2 col-form-label">Description: </label>
      <div class="col-sm-10">
        <textarea type="text" class="form-control w-100 " id="recipe-description" placeholder="recipe description"
          formControlName="description"></textarea>
      </div>
    </div>

    <h6>Stages: </h6>
    <ng-container formArrayName="recipeStages">
      <ng-container *ngFor="let recipeStageForm of recipeStages.controls; let stageFormIndex = index">
        <div [formGroupName]="stageFormIndex">

          <div class="form-group row">
            <label for="stage-order" class="col-sm-2 col-form-label">instructionOrder: </label>
            <div class="col-sm-10">
              <input type="number" class="form-control w-25 " id="stage-order" placeholder="stage order"
                formControlName="instructionOrder">
            </div>
            <label for="stage-instruction" class="col-sm-2 col-form-label">Instruction: </label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control w-100 " id="stage-instruction" placeholder="stage instruction"
                formControlName="instruction"></textarea>
            </div>
          </div>

        </div>
        <button (click)="deleteStageFormGroup(stageFormIndex)" class="btn btn-danger">Delete - {{stageFormIndex +
          1}}</button>
      </ng-container>
    </ng-container>

    <button (click)="addNewStageGroup()" class="btn btn-primary">Add Stage</button>

    <h6>Ingredients: </h6>
    <ng-container formArrayName="ingredients">
      <ng-container *ngFor="let ingredientForm of ingredients.controls; let inngredientFormIndex = index">
        <div [formGroupName]="inngredientFormIndex">

          <div class="form-group row">
            <label for="ingredient-name" class="col-sm-2 col-form-label">Name: </label>
            <div class="col-sm-10">
              <input type="text" class="form-control w-25 " id="singredient-name" placeholder="ingredient name"
                formControlName="name">
            </div>
            <label for="ingredient-amount" class="col-sm-2 col-form-label">Amount: </label>
            <div class="col-sm-10">
              <input type="text" class="form-control w-25 " id="ingredient-amount" placeholder="ingredient amount"
                formControlName="amount">
            </div>
            <label for="singredient-description" class="col-sm-2 col-form-label">Description: </label>
            <div class="col-sm-10">
              <textarea type="text" class="form-control w-100 " id="singredient-description"
                placeholder="ingredient description" formControlName="description"></textarea>
            </div>
          </div>

        </div>
        <button (click)="deleteIngredientFormGroup(inngredientFormIndex)" class="btn btn-danger">Delete -
          {{inngredientFormIndex + 1}}</button>
      </ng-container>
    </ng-container>

    <button (click)="addNewIngredientGroup()" class="btn btn-primary">Add Ingredient</button>

  </div>
  <div class="text-right">
    <button (click)="addProduct()" class="btn btn-primary float-end">Save</button>
  </div>
  <br>
  <pre>
      {{recipeForm.value | json}}
    </pre>
</div>