<nav class="navbar navbar-expand-lg navbar-light bg-light fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand " routerLink="/about"><i class="bar-tag">RecipeBook</i></a>
    <button
      class="navbar-toggler"
      type="button"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link" aria-current="page" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/add-recipe">Add recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/show-recipe/{{0}}">Show recipe</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/edit-recipe">Edit recipe</a>
        </li>
      </ul>
     
    </div>
  </div>
</nav>
