.app {
    background-color: #b3e5fc !important;
    width: 100%;
    float: left;
    height: 100%;
  }
  .card {
    border: none;
    border-radius: 6px;
    background-color: #fff;
  }
  .text1 {
    font-size: 13px;
    color: #cbcbcb;
  }
  .info {
    line-height: 17px;
  }
.cost span {
    color: #fb3531;
    font-weight: bold;
    font-size: 20px;
  }
  .star {
    color: #fbc02d;
  }
  .watchcost span {
    color: #286783;
    font-weight: bold;
    font-size: 20px;
  }
  .watch {
    background: #286783;
  }
  .tshirtcost span {
    color: #0012b2;
    font-weight: bold;
    font-size: 20px;
  }
  .tshirt {
    background-color: #0012b2;
  }
  .cursor {
    cursor: pointer;
  }
  .image-container {
    position: relative;
    cursor: pointer;
    align-items: center;
    display: flex;
    justify-content: center;
  }
  .image-container:nth-child(1) {
    transition: opacity 10s ease;
  }
  .image-container:hover .xyz-replacement {
    display: block;
    animation: fade_in_show 0.5s;
  }
  .xyz-replacement {
    display: none;
    position: absolute;
    bottom: 0;
    z-index: 9;
    transition: opacity 10s ease;
  }
  @keyframes fade_in_show {
    0% {
      opacity: 0;
      transform: scale(0);
    }
    100% {
      opacity: 1;
      transform: scale(1);
    }
  }
  .cart-text {
    transition: all 0.2s ease-in-out;
  }
  .cart:hover .cart-text {
    font-size: 18px;
  
  }